{require_otp_vsn, "R1[56]B"}.

{erl_opts,
 [fail_on_warning,
  {parse_transform, lager_transform}]}.

{sub_dirs,
 ["apps/ofs_store",
  "apps/ofs_store_us4",
  "rel"]}.

{deps,
 [{lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "1.2.2"}}},
  {of_protocol, ".*",
   {git, "https://github.com/FlowForwarding/of_protocol.git", {branch, "master"}}},
  {enetconf, ".*",
   {git, "https://github.com/FlowForwarding/enetconf.git", {branch, "master"}}},
  {of_config, ".*",
   {git, "https://github.com/FlowForwarding/of_config.git", {branch, "master"}}},
  {meck, ".*", {git, "https://github.com/eproxus/meck.git",
                {tag, "0.8.1"}}},
  {sync, ".*",
   {git, "https://github.com/mentels/sync.git", {branch, "master"}}}]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{eunit_opts, [verbose]}.
{eunit_compile_opts, [{i, "../"}]}.
